<header class="relative z-50">
  <div class="relative z-10 container">
    <nav class="relative flex items-center justify-between pt-6 lg:pt-8">
      <a
        aria-current="page"
        href="/"
        class="font-gloock router-link-exact-active flex md:flex-1"
        aria-label="Home page"
      >
        As de oros
      </a>

      <div class="flex justify-end flex-1">
        <a
          href="/#"
          class="group relative flex items-center text-sm leading-none rounded-4xl border transition-all duration-300 focus:outline-none lg:text-base lg:leading-none border-appText px-4 py-[13px] md:px-6 md:py-4 uppercase"
        >
          <span>Contacto</span>
        </a>
      </div>
    </nav>
  </div>
</header>
