---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta name="description" content="As de Oros - Cafetería de Especialidad" />
		<meta
			name="keywords"
			content="Café, Cafetería, Especialidad,
			Tostado, Barista, Espresso, Latte, Cappuccino, Café de origen, 
			Café sostenible, Bebidas de café, Pastelería, Ambiente acogedor"
		/>
		<meta name="author" content="As de Oros" />
		<meta name="robots" content="index, follow" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- OGs -->
		<meta
			property="og:title"
			content="As de Oros - Cafetería de Especialidad"
		/>
		<meta
			property="og:description"
			content="As de Oros - Cafetería de Especialidad"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://example-landing-cafe.vercel.app" />
		<meta
			property="og:image"
			content="https://example-landing-cafe.vercel.app/thumbnail.png"
		/>

		

		<title>As de Oros - Cafetería de Especialidad</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
